.Orders {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30% auto;
    grid-template-areas:
            "order-list order-details"
            "order-buttons ......";
    background-color: #fff;
    color: #444;
}

.Orders > * {
    padding: 20px;
}

.Orders-list {
    grid-area: order-list;
}

.Orders-buttons {
    grid-area: order-buttons;
}

.Orders-details {
    grid-area: order-details;
}
