.OrderStatusIndicator {
    vertical-align: middle;
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border-width: 7px;
    border-style: solid;
    box-sizing: content-box;
}

.OrderStatusIndicator.COMPLETE {
    border-color: #00C853;
}

.OrderStatusIndicator.INCOMPLETE {
    border-color: #FF1744;
}